.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.line {
    fill: none;
    stroke: darkblue;
}

rect.mask {
    fill: yellow;
    opacity: 0.15;
}
